* {
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

.welcome {
  position: absolute;
  top: 100px;

}

/* bookCard */

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  width: 200px;
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-card-image-container {
  text-align: center;
  margin-bottom: 16px;

}

.book-card-image {
  width: 180px;
  height: 250px;
  border-radius: 4px;
}

.book-card-placeholder {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #aaa;
}

.book-card-content {
  text-align: left;
}

.book-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.book-card-authors {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

.book-card-review-container {
  margin-bottom: 16px;
}

.book-card-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
}

.book-card-select {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.book-card-button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.book-card-save-button {
  background-color: #4caf50;
  color: white;
  margin-bottom: 8px;
}

.book-card-delete-button {
  background-color: #f44336;
  color: white;
  margin-bottom: 8px;
}

.book-card-details-button {
  background-color: #2196f3;
  color: white;
}

.delete-icon {
  position: absolute;
  bottom: 16px; 
  right: 16px; 
  color: #d32f2f;
  cursor: pointer; 
  font-size: 24px;
  transition: transform 0.2s ease; 
}

.delete-icon:hover {
  transform: scale(1.5); 
}

.library {
  flex: 1;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.library h2 {
  color: #545E56;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 70px;
}

.homepage h2 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #545e56;
}

/* ======== navbar======== */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EAE1DF;
  position: sticky;
  top: 0;
  min-height: 70px;
  padding: 0 1rem;
  box-sizing: border-box;

}

nav h1 {
  color: #545E56;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: #545E56;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: bold;
}

.navbar-link:hover {
  color: #917C78;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  width: 300px;
}

.search-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #545e56;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #917C78;
}


.footer {
  font-size: 15px;
  text-decoration: none; 
  color: #917C78;
  background-color:#EAE1DF; 
  height: 50px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
   
}

.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.about-top {
  width: 100%;
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.about-bottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 10px;
}

.about-bottom p {
  width: 1000px;
  
}

.about .about-bottom h1 {
  margin: 0;
  padding: 5px;
  font-weight: 400;
  
  color: #545E56;
  height: 50px;
  display: flex;
  justify-content: center;
  
}
